html,body{
    height:100% !important;
    padding:0 !important;
    margin:0 !important;
    overflow-y:hidden;
    overflow-x:hidden;
}

p{
    float:right;
    font-family: 'Lato', sans-serif;
    font-size:13px !important;
    font-weight:800 !important;
}

.container-1{
    padding:10px;
    display:inline-block !important;
    height:100%;
    background-color:#202225;
}

#home{
    width:51px;
    height:58px;
    background-image:url(https://i.imgur.com/YD8cAku.png);
    background-size:51px;
    background-repeat: no-repeat;
}

.c1-hr{
    margin-top: 0px !important;
    margin-bottom: 0.6rem !important;
    width: 30px;
    border-top: 1px solid #E1E1E1;
    opacity:0.1;
}

#forge-channel{
    width:51px;
    height:58px;
    background-image:url(https://i.imgur.com/5Nddaj9.png);
    background-size:51px;
    background-repeat:no-repeat;
}

#xtnt-channel{
    width:51px;
    height:47px;
    margin-bottom:9px;
    background-image:url(https://i.imgur.com/5qpZZMo.png);
    background-size:51px;
    background-repeat:no-repeat;
    border-radius:16px;
}


.left-border{
    position:relative;
    margin-left:0;
}

.left-border::before{
    display:block;
    content:"";
    height:38px;
    width:6px;
    position:absolute;
    left:-12px;
    margin:auto;
    top:6px;
    border-radius:15px;
    bottom:8px;
    background:#fcfcfc;
}

.c1-op{
    display:block;
    width:50px;
    height:50px;
    border:none;
    border-radius:100%;
    background-color: #36393F;
    margin-bottom:10px;
    background-position:14px 14px;
    background-size:22px;
    background-repeat:no-repeat;
}

.c1-op img{
    padding:14px 2px 2px 14px
}

#plus-c1{
    background-image:url(https://i.imgur.com/L0oSuHh.png);
}

#search-c1{
    background-image:url(https://i.imgur.com/bBN1Xwg.png);
}

#download-c1{
    background-image:url(https://i.imgur.com/phXJURZ.png);
}

.container-2 {
    position:absolute;
    top:0;
    display:inline-block !important;
    width:243px;
    height:100%;
    background-color:#2F3136;
}

.container-2-head{
    width:100%;
    border-bottom:0.1px solid #202225;
    box-shadow: 0 0.5px 0px 0 rgba(32, 34, 37, 0.5), 0 0.5px 0px 0 rgba(32, 34, 37, 0.19);
    height:48px;
}

.c2-channels{
    height:85%;
    overflow-y:auto;
}

.c2-channels::-webkit-scrollbar { width: 0 !important}

.container-2-footer{
    position:absolute;
    bottom:0px;
    width:100%;
    height:52px;
    background-color:#292b2f;
}


.c2-head p{
    font-size:16px !important;
    color:#fcfcfc;
    top:10px;
    position:absolute;
    left:17px;
}

#c2-expand{
    position:absolute;
    right:13px;
    top:11px;
    background-image:url(https://i.imgur.com/YXBOGBm.png);
    background-size:24px;
    width:24px;
    height:24px;
    background-attachment:scroll;
    background-repeat:no-repeat;
}

.c2-channel-heads{
    text-transform: uppercase;
    color:#8E9297 !important;
    margin:5px !important;
    margin-top:21px !important;
    margin-bottom:14px !important;
}

#channel-expand{
    background-image:url(https://i.imgur.com/oRG1PtF.png);
    background-size:14px;
    width:14px;
    height:14px;
    background-repeat:no-repeat;
    position:relative;
    right:3px;
    bottom:1px;
}

.c2-channel-heads p{
    display:inline-block;
    font-size:12px !important;
    position:absolute;
    left:17px;
    word-spacing:1px;
}

.interaction-room p{
    position:reltive !important;
    top:66px;
}

.voice-channel{
    position:relative;
    bottom:6px;
}

.voice-channel p{
    top:-2.5px;
}

.c2-rooms {
    display:inline;
}

.c2-rooms img{
    padding:0 5px 2px 16px;
}

.c2-rooms ul{
    display:inline;
    margin:0;
    margin-bottom:10px;
}

.c2-rooms li{
    display:inline-block;
    vertical-align:top;
    text-decoration:none;
    color:#8E9297;
    font-size:15px !important;
    font-weight:600 !important;
    padding:0;
}

#channel-logo img{
    width:24px;
}

.c2-footer-icon{
    float:right;
    padding:17px 15px 0 0;
    position:relative;
    top:16px;
    background-repeat:no-repeat;
    width:19px;
    height:19px;
    background-size:19px;
}

#settings{
    background-image:url(https://i.imgur.com/eBKL08g.png);
}

#headphones{
    background-image:url(https://i.imgur.com/BMf07ds.png);
}

#mic{
    background-image:url(https://i.imgur.com/aSmfWmk.png);
}

.user-details{
    position:absolute;
    display:inline-block;
    top:5px;
    color:#fcfcfc;
}

#c2-userlogo img{
    width:35px;
    position:absolute;
    left:10px;
    top:3px;
}

#c2-username{
    display:inline-block;
    margin:5px;
    vertical-align:bottom;
    position:absolute;
    left:48px;
}

#c2-userid{
    font-size:10px !important;
    color:#8E9297;
    position:absolute;
    top:22px;
    left:53px;
    display:inline-block
}

.main-header{
    display:inline-block !important;
    width:100%;
    background-color: #36393F;
    border-bottom:0.1px solid rgba(32, 34, 37, 0.4);
    box-shadow: 0 0.5px 0px 0 rgba(32, 34, 37, 0.9), 0 0.5px 0px 0 rgba(32, 34, 37, 0.3);
    border-left:1px solid #202225;
    position:absolute;
    top:0;
    right:0;
    z-index:-1;
    height:48px;
}

#mh-hash img{
    width:26px;
    height:26px;
}

.main-header-icons{
    float:right;
    background-color: #36393F;
    padding:0;
    width:380px;
    height:46px;
    z-index:1;
}

.mh-right-icon{
    padding:10px 17px 0px 0;
    display:inline-block !important;
    float:right;
    background-repeat:no-repeat;
}

#help{
    background-image:url(https://i.imgur.com/OeBFn9V.png);
    background-size:22px;
    background-position:0px 9px;
    width:22px;
    height:22px;
    position:relative;
    top:2px;
}

#mentions{
    background-image:url(https://i.imgur.com/PxV9PsS.png);
    background-size:21px;
    background-position:0px 12px;
    width:21px;
    height:21px;
    padding-top:12px;
}

#searchbar{
    font-size:13px;
    font-weight:600 !important;
    position:relative;
    top:11px;
    margin-right:19px;
    background-color:#202225 !important;
    background-image: url(https://i.imgur.com/E8V92QX.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 120px 4.5px;
    background-width:30px;
    background-size: 15px;
    border:none !important;
    height:13px !important;
    width:123px;
}

#searchbar::placeholder{
    position:relative;
    right:5px;
}

#members{
    background-image:url(https://i.imgur.com/FaMlvnI.png);
    background-size:24px;
    background-position:0px 10px;
    width:24px;
    height:24px;
}

#pinned{
    background-image:url(https://i.imgur.com/xOeGTTW.png);
    background-size:24px;
    background-position:0px 10px;
    width:24px;
    height:24px;
}

#notification{
    background-image:url(https://i.imgur.com/WFH5qXj.png);
    background-size:24px;
    background-position:0px 10px;
    width:24px;
    height:24px;
}

.mh-channel-name{
    z-index:-1;
    position:absolute;
    left:327px;
    color:white;
    top:11px;
}

#mh-p{
    font-size:15px !important;
    text-transform:lowercase !important;
    left:360px;
}

.container-3{
    display:inline-block ;
    background-color:#36393F;
    position:absolute;
    top:48px;
    left:314px;
    width:813px;
    height:100%;
    z-index:0;
}

.c3-contents{
    margin:0 auto;
    width:95%;
    height:525px;
    border-bottom:1px solid #40444b;
    overflow-y:auto !important;
}

.c3-contents::-webkit-scrollbar { width: 0 !important}

.chat-holder{
    display:inline-block;
    border-bottom:1px solid #40444b;
    margin:0 auto;
    width:100%;
    height:380px;
}

.chat-direct{
    display:inline-block;
    width:100%;
    height:110px;
    margin:0 auto;
    border-bottom:1px solid #40444b;
}

#direct-username p{
    display: inline-block;
    position: relative;
    right:645px;
    bottom:35px;
    font-size: 17px !important;
    font-weight: 600 !important;
}

#direct-timestamp p{
    display: inline-block;
    position: relative;
    right:485px;
    bottom:29px;
    font-size:12px !important;
    font-weight:500 !important;
    color:#8E9297;
}

#direct-userlogo img{
    width:45px;
    position:relative;
    top:21px;
}

#direct-message p{
    position:relative;
    left:50px;
    top:-55px;
    width:90%;
    color:#d2d9de;
    font-size:14px !important;
    font-weight:700 !important;
}

#github-img{
    background-image:url(https://i.imgur.com/QCHNgYc.png);
    background-size:40px;
    background-repeat:no-repeat;
    width:40px;
    height:40px;
    position:relative;
    top:21px;
}

#github-tag{
    position:relative;
    top:6px;
}

#github-tag p{
    position:relative;
    right:628px;
    top:-30px;
    color:#fcfcfc;
    font-size:16px !important;
    font-weight:800 !important;
}

#github-tag img{
    width:30px;
}

#github-head img{
    position:relative;
    top:4px;
    padding-left:5px;
}

#github-date{
    font-size:12px !important;
    font-weight:500 !important;
    color:#8E9297;
    position:relative;
    right:420px;
    top:-19px;
}

.chat-received{
    width:68%;
    position:relative;
    top:6px;
    margin-left:58px;
    height:290px;
    border-left:5px solid #e68d60;
    border-top:1px solid #313338;
    border-right:1px solid #313338;
    border-bottom:1px solid #313338;
    border-radius:4px;
    background-color:#34363c;
}

#chat-userlogo{
    background-image:url(https://i.imgur.com/APLLPNU.png);
    background-repeat:no-repeat;
    background-size:25px;
    height:25px;
    width:25px;
    position:relative;
    top:10px;
    left:10px;
}

#chat-username{
    position:absolute;
    top:13px;
    left:45px;
    color:#fcfcfc;
    font-weight:600 !important;
}

#chat-content-head{
    position:relative;

    left:10px;
    color:#02aff2 ;
    font-weight:800 !important;
}

#chat-content{
    position:relative;
    bottom:20px;
    color:#8E9297;
    width:93%;
    margin-left:10px;
}

#chat-content p{
    margin-bottom:10px;
}

.messaging{
    width:95%;
    display:block;
    margin:0 auto;
    position:absolute;
    bottom:78px;
    left:30p;
    height:43px;
    margin-left:21px;
    border-radius:8px;
    background-color:#40444b;
    border:none;
}

#plus-c3{
    background-image:url(https://i.imgur.com/KNUm5uW.png);
    background-size:24px;
    background-repeat:no-repeat;
    background-position:0px 9px;
    width:24px;
    height:33px;
    display:inline-block !important;
    padding-top:10px;
    margin-left:11px;
    width:35px;
    border-right:1px solid #36393f;
}

#type-message{
    display:inline-block;
    vertical-align:top;
    margin-top:3px;
    width:550px;
    height:40px !important; 
    border:none;
}

#type-message input{
    width:550px;
    background-color:#40444b !important;
    border:none !important;
    color: !important;
    font-size:15px;
    font-weight:500 !important;
}

.messaging-right-icon{
    float:right;
    margin-top:10px;
    margin-right:10px;
}

#smiley-c3{
    background-image:url(https://i.imgur.com/jYWODeK.png);
    background-size:24px;
    background-repeat:no-repeat;
    width:24px;
    height:24px;
}

#gif-c3{
    background-image:url(https://i.imgur.com/FKFEuzz.png);
    background-size:40px;
    background-repeat:no-repeat;
    width:40px;
    height:33px;
    position:relative;
    bottom:8px;
}

#gift-c3{
    background-image:url(https://i.imgur.com/ZOUVr8g.png);
    background-size:23px;
    background-repeat:no-repeat;
    width:23px;
    height:33px;
}

.container-4{
    overflow-x:hidden;
    display:inline-block;
    background-color:#2F3136;
    position:absolute;
    top:48px;
    right:0;
    height:93%;
    width:239px;
    overflow-y:auto;
}

.container-4::-webkit-scrollbar { width: 0 !important}

.c4-header{
    position:absolute;
    left:14px;
    color:#8E9297;
    font-size:12px !important;
    text-transform: uppercase;
    margin:5px !important;
    margin-top:22px !important;
    font-weight:900 !important;
}

#member-logo img{
    width:35px;
}

.members-list{
    width:100%;
    height:1px solid 
}

.members-content{
    position:relative;
    top:45px;
    padding-top:2px;
    display:inline;
}

.members-content img{
    position:relative;
    left:17px;}

.members-content p{
    display:inline-block;
    position:absolute;
    left:64px;
    text-decoration:none;
    font-size:15px !important;
    font-weight:600 !important;
    padding-top:4px;}

.product{
    height:125px;}

.dev{
    height:210px;}

.intern{
    height:170px;}

#offline{
    opacity:0.3;}
